*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body{
    background-color: #24272f;
}
nav{
    background-color: #24272f;
    width: 100%;
    height: 56px;
    border-bottom: 1px solid #313843;
}
.container{
    width: 100%;
    max-width: 1920px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0 32px;
    gap: 28px;
}


.logo-version{
    flex: 0 0 auto;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #61dafb;
}


.logo-version i{
    font-size: 26px;
}


.logo-version p{
    color: #b8c0cc;
    font-size: 14px;
    font-weight: 600;
}


.search-bar{
    flex: 1;
    max-width: 940px;
    height: 28px;
    list-style: none;
    display: flex;
    align-items: center;
    background-color: #353b47;
    /* border-radius: 600px; */
    color: #9ca3af;
    padding: 0 16px;
    gap: 12px;
}


.search-icon{
    color: #9ca3af;
    font-size: 14px;
}
.search-text{
    flex: 1;
    font-size: 12px;
    font-weight: 500;
}
.shortcut{
    color: #d5d9df;
    font-size: 12px;
    font-weight: 600;
    background-color: #24272f;
    padding: 4px 9px;
    border-radius: 8px;
}
.menu-items{
    flex: 0 0 auto;
    height: 54px;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 44px;
    color: #f3f4f6;
    font-size: 15px;
    font-weight: 600;
}
.icons{
    flex: 0 0 auto;
    height: 54px;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 28px;
    color: #f3f4f6;
    font-size: 18px;
}
.menu-items li,
.icons li{
    cursor: pointer;
}
.menu-items li:hover,
.icons li:hover{
    color: #61dafb;
}

@media (max-width: 768px) { 
    .menu-items {
        display: none;
    }
}

/* @media (){

} */

